body {
  font: 16px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  margin: 0;
  padding: 2em;
  color: #333;
}

a { color: #4299e1; }

h1 {
  text-indent: -9999px;
  background: url(logos/rva-ib-x2.png) left center no-repeat;
  background-size: auto 120px;
  height: 120px;
}

header p {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.3em;
  max-width: 800px;
}

main {
  margin: 2em 0;
  padding-top: 1em;
  border-top: 1px solid #e2e8f0;
}

main ul + h2 {
  margin-top: 2em;
}

footer {
  margin: 2em 0;
  padding-top: 1em;
  border-top: 1px solid #e2e8f0;
}

@media only screen and (max-width: 400px) {
  header h1 {
    background-size: 100% auto;
  }
}